<ion-header>
  <ion-navbar>
    <ion-title>TodoApp</ion-title>
    <ion-buttons end>
      <button (click)="addItemButtonTapped($event)">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Fetching...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar (ionInput)="filterItems($event)"></ion-searchbar>
  <ion-list>
    <button ion-item *ngFor="let item of taskList" (click)="itemTapped($event, item)">
      <!--<ion-checkbox [(ngModel)]="item.completed"></ion-checkbox>-->
      <ion-label>{{item.title}}</ion-label>
      <button clear item-left (click)="checkboxTapped($event, item)">
        <ion-icon *ngIf="!item.completed" name="square-outline"></ion-icon>
        <ion-icon *ngIf="item.completed" name="checkbox-outline"></ion-icon>
      </button>
    </button> 
     
  </ion-list>
</ion-content>
